Hello world!
My name is Ahaoma Michael, i am a student of AlX programme.
I am leaening how to navigate in the visual editor aka Vi using the Ubuntu sandbox server offered by the programme.~
I hope to see to the end of this programme... So help me God.

~
